{{#if r.interests}}
<div id="interests" class="detail">
  <div class="icon"><i class="fs-lg fa fa-heart"></i><span class="mobile-title">Interests</span></div>
  <div class="info">
    <h4 class="title text-uppercase">Interests</h4>
    <div class="content">
      <ul class="list-unstyled">
        {{#each r.interests}}
        <li class="card card-nested">
          <p><strong>{{name}}</strong></p>
          {{{summary}}}
          <div class="space-top labels">
            {{#each keywords}}
            <span class="label label-keyword">{{this}}</span>
          {{/each}}
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{/if}}
