<section class="col-md-3 card-wrapper profile-card-wrapper affix">
    <div class="card profile-card"><span class="profile-pic-container">
      <div class="profile-pic">
        {{#if r.info.image}}
        <img data-src="holder.js/100x100" alt="{{{r.name}}}" src="{{{r.info.image}}}" itemprop="image" class="media-object img-circle center-block"/>
        {{/if}}
      </div>
      <div class="name-and-profession text-center"><h3 itemprop="name"><b>{{{r.name}}}</b></h3><h5 itemprop="jobTitle" class="text-muted">{{r.info.label}}</h5></div></span>
        <hr/>
        <div class="contact-details clearfix">
            {{#if r.location.city}}<div class="detail"><span class="icon"><i class="icon fs-lg fa fa-map-marker"></i></span><span class="info">{{#if r.location.address}}{{r.location.address}}, {{/if}}{{r.location.city}}{{#if r.location.region}}, {{r.location.region}}{{/if}}{{#if r.location.country}}, {{r.location.country}}{{/if}}</span></div>{{/if}}
            <div class="detail"><span class="icon"><i class="icon fs-lg fa fa-phone"></i></span><span itemprop="telephone" class="info">{{r.contact.phone}}</span></div>
            <div class="detail"><span class="icon"><i class="icon fs-lg fa fa-envelope-o"></i></span><span class="info"><a href="mailto:{{{r.contact.email}}}" itemprop="email" class="link-disguise">{{{r.contact.email}}}</a></span>
            </div>
            <div class="detail"><span class="icon"><i class="icon fs-lg fa fa-link"></i></span><span class="info">{{{r.contact.website}}}</span></div>
            <div class="detail"><span title="Languages I speak" class="icon"><i class="icon fs-lg fa fa-language"></i></span><span class="info">{{#each r.languages}}{{language}}{{#unless @last}}, {{/unless}}{{/each}}</span></div>
        </div>
        <hr/>
        <div class="social-links text-center">
            <div>
              {{#each r.social}}
              {{#compare @key 5}}
            </div>
            <div>
              {{/compare}}
              {{#compare @key 10}}
            </div>
            <div>
              {{/compare}}
                <a href="{{url}}" target="_blank" data-toggle="tooltip" title="{{user}} on {{network}}" class="fs-2x social-link"><i class="link-{{toLower network}} fa fa-{{toLower network}}"></i></a>

              {{/each}}
            </div>
        </div>
    </div>
</section>
